In [4]:
# Series Object in Panda

In [15]:
import pandas as pd
data = [1,2,3,4]
data2 = (1,2,3,4,6)
series1 = pd.Series(data)
series2= pd.Series(data2)
series2

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [10]:
# Checking the Type of a datatype
type(series1)

pandas.core.series.Series

In [16]:
# CHanging the index of a Series
series1 = pd.Series(data, index = ["a","b","c","d"])
series1

a    1
b    2
c    3
d    4
dtype: int64

# How TO Create a Data Frame

In [18]:
# Creating a DataFrame Using a list
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [26]:
# Creating a Dataframe using a dictionary
dictionary = {"fruits":["apples", "bananas", "mangoes"], "Count": [10, 20, 40]}
changeRange = [x for x in range(1,4)]
df = pd.DataFrame(dictionary, index = changeRange)
df

    fruits  Count
1   apples     10
2  bananas     20
3  mangoes     40

In [28]:
# Creating a DataFrame using Series 
series = pd.Series([6,13], index = ["a","b"])
df = pd.DataFrame(series)
df

    0
a   6
b  13

In [32]:
import numpy as np
numpyarray = np.array([5000,60000],["Jihn",["James"]])

df = pd.DataFrame(numpyarray)
df

TypeError: data type not understood